table,th,td
{
	text-align: right;
	border-collapse: collapse;
	border: 2px solid #000000;
}
th,td
{
	padding: 7px;
}
th
{
	background-color: #000000;
	color: white;
	text-align: center;
}
td
{
	background-color: #ffcc00;  
}
tr:hover td
{
	background: #ffff33;
}
td:nth-child(4)
{
	background: red;
}